@media screen and (max-width: 1024px) {
  .header-business {
    margin-left: 110px;
    font-size: 78px;
  }
  .sub-right {
    width: 41%;
  }

  .service-list li {
    font-size: 12px;
    font-weight: 500;
  }

  .service-list li:not(:first-child) {
    padding-top: 10px;
  }

  .details-about p {
    margin-bottom: 38px;
    font-size: 13px;
  }

  .help-head {
    margin-top: 13px;
    padding-bottom: 17px;
  }
  .help-head h2 {
    font-size: 20px;
}
  .ask-help {
    margin-top: 15px;
    padding-bottom: 5px;
  }
  .ask-help p {
    font-size: 14px;
  }

  .ask-help span {
    font-size: 14px;
    margin-bottom: 9px;
  }

  .help-support {
    margin-top: 13px;
    margin-bottom: 12px;
    padding-bottom: 7px;
  }
  .testimonial-text p {
    display: inline;
    word-spacing: 0px;
    font-size: 12px;
  }

  .dot {
    height: 10px;
    width: 10px;
  }

  .dot-one {
    height: 10px;
    width: 10px;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    width: 135px;
    padding: 21px;
  }

  .header-business {
    margin-left: 57px;
    font-size: 61px;
  }

  .header-business {
    margin-left: 75px;
    font-size: 70px;
  }

  .free-company span {
    font-size: 12px;
  }

  .free-company h3 {
    font-size: 32px;
  }

  .sub-header {
    margin-bottom: 15px;
  }
  .nav-list {
    display: none;
  }
  .nav-list {
    flex-direction: column;
  }

  .nav-list li {
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid gray;
  }
  .nav-item {
    border-left: none;
  }
  .navbar{
    display: block;
    padding: 4px;
  }


  .ham {
    display: block;
    background-color: black;
  }

  .hamburger {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
  }
  .hamburger a {
    width: 40px;
    height: 40px;
    display: flex;
  }

  .hamburger a span {
    border-top: 2px solid white;
    position: relative;
    width: 100%;
    display: block;
    margin-top: 16px;
  }
  .hamburger a span::before {
    border-top: 2px solid white;
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
  }

  .hamburger a span::after {
    border-top: 2px solid white;
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    top: 7px;
  }

  .openMenu a span::before {
    transform: rotate(45deg);
    top: 0;
  }

  .openMenu a span {
    border-top: none;
  }
  .openMenu a span::after {
    top: 0;
    transform: rotate(-45deg);
  }

  .sub-left {
    flex-direction: column;
  }
  .sub-free-company {
    margin-top: 7px;
    margin-left: 20px;
  }
  .sub-right {
    margin-top: 41px;
    align-items: center;
    justify-content: inherit;
    margin-right: 46px;
  }

  .slider-icon {
    right: 18px;
    bottom: 85px;
    font-size: 17px;
  }

  .block-text h1 {
    font-size: 26px;
  }

  .cards-section {
    flex-wrap: wrap;
  }
  .card {
    width: 50%;
  }

  .card-icon {
    font-size: 44px;
  }

  .card h2 {
    word-spacing: 101px;
    margin-bottom: 18px;
  }

  .card p {
    font-size: 13px;
  }

  .inter-icon {
    margin-right: 29px;
    font-size: 40px;
    height: 82px;
    width: 79px;
  }
  .tile-text-wrap h2 {
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 450;
  }

  .tile-text-wrap p {
    font-size: 11px;
    font-family: auto;
  }

  .details-section {
    display: flex;
    flex-wrap: wrap;
  }
  .details-about {
    width: 100%;
    margin-top: 20px;
  }

  .details-about p {
    margin-bottom: 26px;
    font-size: 13px;
  }

  .details-services {
    width: 44%;
    margin-top: 34px;
    margin-left: 3px;
  }

  .read-more-about {
    width: 125px;
    padding: 14px;
  }

  details-services h2 {
    font-size: 36px;
  }

  .details-services p {
    font-size: 13px;
  }

  .service-list {
    margin-left: 0;
    margin-right: 63px;
    margin-bottom: 37px;
  }

  #first-tick {
    margin-bottom: 22px;
  }

  .service-list li:not(:first-child) {
    padding-top: 9px;
    border-top: 1px solid #d8cbd5;
  }

  .read-more-service {
    width: 120px;
    padding: 12px;
    margin-left: 10px;
  }

  .details-side {
    width: 50%;
    margin-top: 25px;
    margin-left: 25px;
  }

  .help-chat {
    font-size: 35px;
  }
  .help-head h2 {
    font-size: 22px;
  }

  .foot-tile {
    flex-wrap: wrap;
  }

  .foot-tile p {
    margin-top: 15px;
  }
}


@media screen and (max-width: 425px) {
  .header {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .logo {
    width: 108px;
    padding: 6px;
  }
  .logo-text {
    font-size: 20px;
    color: white;
  }

  .header-business {
    margin-left: 14px;
    margin-top: 25px;
    font-size: 42px;
  }

  .free-company {
    margin-top: 10px;
    margin-left: 19px;
    flex-direction: column;
    justify-content: center;
  }

  .free-company span {
    font-size: 10px;
    width: 35px;
  }
  .free-company h3 {
    font-size: 27px;
  }

  .sub-para {
    margin-top: 7px;
    margin-bottom: 5px;
  }

  .contact-no {
    font-size: 14px;
  }

  .sub-right {
    margin-right: 0;
  }

  .sub-free-company span {
    font-size: 12px;
  }

  .sub-header-business {
    margin-top: 28px;
    font-size: 31px;
  }

  .nav-list {
    justify-content: space-evenly;
  }

  .nav-item {
    padding: 7px;
  }

  .slider-icon {
    right: 18px;
    bottom: 242px;
    font-size: 17px;
  }
  .block {
    flex-wrap: wrap;
    margin-top: 25px;
  }

  .block-text h1 {
    font-size: 28px;
    padding: 16px;
  }

  .block-text {
    width: 100%;
  }
  .block-figure {
    width: 100%;
  }

  .card {
    width: 100%;
  }

  .card h2 {
    word-spacing: 129px;
  }

  .interaction-section {
    flex-wrap: wrap;
    padding-top: 35px;
  }

  .inter-right {
    width: 100%;
    margin-top: 0px;
  }

  .read-more-about {
    width: 120px;
    margin-left: 67px;
    padding: 12px;
  }
  .details-side {
    width: 100%;
    margin-top: 25px;
    margin-left: 0px;
  }

  .details-services {
    width: 100%;
    margin-top: 34px;
    margin-left: 40px;
  }

  .read-more-service {
    width: 120px;
    padding: 12px;
    margin-left: 38px;
  }

  .foot-blocks {
    padding-top: 30px;
    margin-left: 44px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .foot-one {
    flex-direction: column;
    width: 50%;
    margin-right: 25px;
  }

  .foot-note {
    margin-left: 41px;
    margin-top: 31px;
  }
}

@media screen and (max-width: 375px) {
  .sub-header-business {
    margin-top: 28px;
    font-size: 26px;
  }

  .sub-free-company {
    margin-top: 7px;
    margin-left: 6px;
  }

  .contact-no {
    font-size: 12px;
  }

  .sub-para {
    font-size: 10px;
    margin-top: 10px;
    margin-bottom: 8px;
  }

  .card-icon {
    font-size: 36px;
  }

  .card h2 {
    color: white;
    font-size: 18px;
    font-family: "Times New Roman", Times, serif;
    word-spacing: 115px;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 320px) {
  .sub-header-business {
    margin-top: 28px;
    font-size: 21px;
  }
  .sub-free-company {
    margin-top: 8px;
    margin-left: -2px;
  }
  .sub-right {
    width: 50%;
  }
  .inter-icon {
    margin-right: 28px;
    font-size: 32px;
    height: 72px;
    width: 73px;
  }
  .hamburger a span {
    width: 80%;
  }
  .slider-icon {
    right: 7px;
    bottom: 179px;
    font-size: 15px;
  }
  .block-text h1 {
    font-size: 21px;
    padding: 16px;
  }

  .read-more-about {
    width: 120px;
    margin-left: 40px;
    padding: 12px;
  }
  .service-list li {
    font-size: 11px;
    font-weight: 500;
  }

  .service-list li:not(:first-child) {
    padding-top: 10px;
    border-bottom: 1px solid #d8cbd5;
    border-top: none;
  }

  .details-services {
    width: 100%;
    margin-top: 34px;
    margin-left: 7px;
  }

  .help-chat {
    font-size: 28px;
  }

  .help-head h2 {
    font-size: 20px;
  }

  .ask-help h3 {
    font-size: 17px;
  }

  .ask-help p {
    font-size: 12px;
  }

  .ask-help span {
    font-size: 13px;
    margin-bottom: 9px;
  }

  .help-support h1 {
    color: white;
    font-size: 14px;
    padding-bottom: 16px;
  }

  .help-support span {
    font-size: 14px;
  }
}
