*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

:root{
 --white:#FFFFFF;
 --lightskyblue:#8DB1B1;
 --yellow:#FFFF00;
 --skyblue:#87CEEB;
 --tilewrap:#7e7676;
 --black:#000000;
 --lightbrown:#999191;
 --c-skyblue:#57A9CE;
 --c2-skyblue:#54B0D5;
 --c3-skyblue:#5BB7DE;
 --c4-skyblue:#62BFE8;
 --footergray:#444547;
 --gray:#808080;
 --foot-icon-gray:#4D4E50;
 --foot-text-gray:#d1c6c6bd;
 --dot-pale-gray:#bbb;

}
.wrapper{
    width: 100%;
    background-color: var(--white);
}
.main-container{
    width: 100%;
    margin: 0 auto;
}



.inner-container{
    width: 85%;
    margin: 0 auto;
}

.sub-header{
    display: flex;
    justify-content: space-between;
}

.sub-left{
    display: flex;
}

.sub-header-business{
    margin-top: 1.75rem;
    font-size: 2.31rem;
    color: var(--skyblue);
    font-weight: 650;
}

.sub-free-company{
    margin-top: 1.56rem;
    margin-left: 1.25rem;
}

.sub-free-company span{
    font-size: 0.75rem;
    background-color: var(--yellow);
    padding: 0.063rem;
}
.sub-free-company h3{
    font-size: 1.188rem;
    margin-top: 0.188rem;
    font-weight: 400;
    margin-top: 0.313rem;
}


.sub-right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    margin-right: 3.813rem;
    margin-top: 0.938rem;
}

.phone-icon{
    color: var(--skyblue);
    margin-right: 0.313rem;
    font-size: 1.125rem;
    font-weight: 600;
}

.contact-no{
    font-family: 'Times New Roman', Times, serif;
}

.sub-para{
    font-size: 0.75rem;
}

/* -----------Navbar------------ */

.navbar{
    width: 100%;
    background-color: var(--black);
    margin-top: 0.938rem;
    padding: 1.125rem 1.125rem 1.125rem 0rem
}

.nav-list{
    display: flex;
    list-style: none;
}
#nav-home {
    padding: 1.125rem;
    text-decoration: none;
    color: var(--white);
    font-weight: 600;
    background-color: var(--skyblue);
}
.nav-about{
    padding: 1.125rem;
    text-decoration: none;
    color: var(--white);
    font-weight: 600;
}
.nav-item{
    padding: 1.25rem;
    text-decoration: none;
    color: var(--white);
    font-size: 0.875rem;
    font-weight: 600;
    border-left: 0.063rem solid #787575;
}

.nav-item:hover{
    background-color: var(--skyblue);
}


/* -----------slider -section------- */
.slider{
    display: flex;
    position: relative;

}

.slider-icon-right{
    position: absolute;
    right: 1.438rem;
    bottom: 9.5rem;
    font-size: 1.313rem;
    color: var(--lightskyblue);
}
.slider-icon-left{
    position: absolute;
    left: 1.438rem;
    bottom: 9.5rem;
    font-size: 1.313rem;
    color: var(--lightskyblue);
}
.block{
    display: flex;
    width: 100%;
}

.block-figure{
    width: 50%;
    height: auto;
}

.block-figure img{
    width: 100%;
    height: 100%;
}

.block-text{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-text h1{
    font-size: 2.31rem;
    margin-left: 10%;
    color: #6AAEBB;
    font-weight: 500;
}


/*------------ Cards-section--------------- */
.cards-section{
    display: flex;
    width: 100%;
}

.card{
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 1.56rem;
}

.card1{
    background-color: var(--c-skyblue);
}
.card2{
    background-color: var(--c2-skyblue);
}
.card3{
    background-color: var(--c3-skyblue);
}
.card4{
    background-color:var(--c4-skyblue);
}

.card-icon{
    margin-bottom: 1.25rem;
    font-size: 3.125rem;
    color: var(--white);
}
.card h2{
    color: var(--white);
    font-size: 1.25rem;
    font-family: 'Times New Roman', Times, serif;
    word-spacing: 9.688rem;
    margin-bottom: 1.56rem;
}

.card p {
    color: var(--white);
    line-height: 1.56rem;
    font-size: 0.938rem;
}

/* -------interaction section----------- */
.interaction-section{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0.625rem;
    border-bottom: 0.25rem solid var(--lightskyblue);
}

.inter-right{
    width: 47%;
    margin-top: 3.125rem;
}

.inter-tile{
    width: 100%;
    margin-bottom: 3.75rem;
    display: flex;
    justify-content: space-between;
}

.inter-icon{
    margin-right: 2.875rem;
    font-size: 3.125rem;
    color: var(--white);
    background: var(--skyblue);
    padding: 1.25rem;
    height: 5.625rem;
    width: 5.5rem;
}

.tile-text-wrap{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.tile-text-wrap h2{
    margin-bottom: 1.25rem;
    font-size: 1.125rem;
    font-weight: 450;
}

.tile-text-wrap p{
    color: var(--tilewrap);
    font-size: 0.875rem;
    font-family: auto ;

}


/* --------Details section-------------- */
.details-section{
    display: flex;
    justify-content: space-between;
}

.details-about{
    width: 30%;
    margin-top: 1.25rem;
}

.details-about h2{
    margin-bottom: 0.875rem;
    font-size:2.438rem;
    font-weight: 500;
}

.details-about p{
    line-height: 1.688rem;
    margin-bottom: 2.31rem;
    font-size: 1.063rem;
    color: var(--lightbrown);
}

.about-figure{
    margin-bottom: 1.25rem;
    width: 100%;
}

.about-figure img{
    width: 100%;
}

.read-more-about{
    width: 9rem;
    padding: 0.875rem 1.25rem;
    background-color: var(--skyblue);
    color: var(--white);
    font-size: 0.938rem;
    text-align: center;
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
}


.details-services{
    width: 30%;
    margin-top: 1.25rem;
    margin-left: 1.56rem;
}

.details-services h2{
    margin-bottom: 0.875rem;
    font-size:2.438rem;
    font-weight: 500;
}

.details-services p{
    font-size: 1rem;
    margin-bottom: 1.875rem;
    line-height: 1.5rem;
    color: var(--lightbrown);
}

.service-list{
    margin-bottom: 1.56rem;
    width: 85%;
}

.service-list li{
    list-style: none;
    color: var(--skyblue);
    margin-top: 0.25rem;
    margin-bottom: 0.938rem;
}
.service-list li a{
    color: var(--skyblue);
    font-size: 0.875rem;
    text-decoration: none;
}
.service-list li:nth-child(1){
    padding-bottom: 0.625rem;
    border-bottom: 0.063rem solid #d8cbd5;
}
.service-list li:not(:first-child){
    padding-top: 0.688rem;
    border-top: 0.063rem solid #d8cbd5;
}
#first-tick{
    margin-bottom: 2.063rem;
   
}
.tick{
    margin-right: 0.313rem;
}

.read-more-service{
    width: 9rem;
    padding: 0.875rem 1.25rem;
    background-color: var(--skyblue);
    color: var(--white);
    font-size: 0.938rem;
    text-align: center;
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
}

.details-side{
  width: 30%;
}

.help-center{
    width: 100%;
    display: flex;
    margin-top: 0.938rem;
    flex-direction: column;
    justify-content: center;
    background-color:var(--c-skyblue) ;
}

.help-head{
    display: flex;
    margin-top: 1.75rem;
    margin-left: 1.625rem;
    width: 80%;
    padding-bottom: 1.5rem;
    border-bottom: 0.063rem solid rgb(246, 243, 243);
}

.help-chat{
    font-size:2.5rem;
    color: var(--white);
}

.help-head h2{
    margin-left: 0.625rem;
    margin-top: 0.313rem;
    color: var(--white);
}

.ask-help{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    margin-top: 1.56rem;
    padding-bottom: 0.938rem;
    border-bottom: 0.063rem solid rgb(246, 243, 243);
}


.ask-help h3{
    font-size: 1.188rem;
    margin-bottom: 1.25rem;
    color: var(--white);
}
.ask-help p {
    color: var(--white);
    font-size: 0.875rem;
    margin-bottom: 0.625rem;
    font-weight: 550;
}
.ask-help span {
    color: var(--white);
    font-size: 0.875rem;
    margin-bottom: 0.688rem;
    font-weight: 550;
}

.help-support{
    width: 80%;
    margin: 0 auto;
    margin-top: 1.56rem;
    margin-bottom: 1.188rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 0.625rem;
    border-bottom: 0.063rem solid rgb(246, 243, 243);
}

.help-support h1{
    color: var(--white);
    padding-bottom: 1.25rem;
}

.help-support span{
    color: var(--white);
    font-family: 'Times New Roman', Times, serif;
}

.testimonial{
    width: 100%;
    display: flex;
    padding: 1.25rem;
    justify-content: space-around;
    margin-top: 1.875rem;
    background-color: #eeeeee;
}
.testimonial-figure{
    width: 35% !important;
    margin-right: 0.938rem;
}
.testimonial-text{
    width: 70%;
    margin-left: 0.938rem;
}
.testimonial-text p{
    display: inline;
    word-spacing: 0.313rem;
    font-size: 0.813rem;
}

.testimonial-figure img{
    width: 100%;
}
.test-icon{
    color: var(--skyblue);
    font-size: 2.188rem;
}
#testmonial-name{
    display: block;
    margin-top: 0.938rem;
    color: var(--c-skyblue);
    font-weight: 400;
    font-size: 0.938rem;
}

.dots{
    margin-top: 1.56rem;
}

.dot-one{
    height: 0.75rem;
    width: 0.75rem;
    background-color: var(--c-skyblue);
    border-radius: 50%;
    margin-right: 0.313rem;
    display: inline-block;

}

.dot{
    height: 0.75rem;
    width: 0.75rem;
    background-color: var(--dot-pale-gray);
    border-radius: 50%;
    margin-right: 0.313rem;
    display: inline-block;

}


/* --------Footer--------- */
.footer{
    background-color: var(--footergray);
    width: 100%;
    margin-top: 3.125rem;
    padding-bottom: 1.56rem;
}

.foot-blocks{
    padding-top: 1.875rem;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.875rem;
    border-bottom: 0.125rem solid var(--gray);
}

.foot-one{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33%;
    margin-right: 1.56rem;
}

.foot-tile{
    display: flex;
    margin-top: 1.56rem;
    align-items: center;
}

.foot-tile a{
    text-decoration: none;
    color: var(--foot-text-gray);;
    font-size: 0.938rem;
    font-family: auto;
}

.foot-icon-wrap{
    height: 4.375rem;
    width: 4.375rem;
    display: flex;
    padding: 1.25rem;
    background-color: var(--foot-icon-gray);
    margin-right: 1.875rem;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.foot-icons{
    font-size: 1.56rem;
    color: var(--c-skyblue);
}

.foot-note{
    color: var(--white);
    font-size: 0.625rem;
    margin-top: 2.188rem;
}